<h3>SHERPA/ROMEO Lookup service for ISSN <%= params[:idfield] %></h3>
<ul>
  <li><b>LICENSE:</b> <%= @returndata[:sherpa_issn].dig("romeoapi","header","licence") %><br/></li>
  <li><b>LICENSE URL:</b> <a href="<%= @returndata[:sherpa_issn].dig("romeoapi","header","licenceurl") %>"><%= @returndata[:sherpa_issn].dig("romeoapi","header","licenceurl") %></a></li>
  <li><b>DISCLAIMER:</b> <%= @returndata[:sherpa_issn].dig("romeoapi","header","disclaimer") %><br/></li>
  <li><b>VERSION:</b> <%= @returndata[:sherpa_issn].dig("romeoapi","version") %><br/></li>
  <% x = 0 %>
  <% @returndata[:sherpa_issn].dig("romeoapi","journals").each do |journal| %>
    <% x = x + 1 %>
    <li><b>JOURNAL <%= x %></b>
      <ul>
        <% journal[1].each do |journalentry| %>
          <li>
            <b>
              <% case journalentry[0] %>
              <% when 'jtitle' %>
                Title
              <% when 'issn' %>
                ISSN
              <% when 'zetocpub' %>
                Publisher Name (ZETOC)
              <% when 'romeopub' %>
                Publisher Name (ROMEO)
              <% else %>
                <%= journalentry[0] %>
              <% end %>
              :
            </b>
            <%= journalentry[1] %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
  <% x = 0 %>
  <% @returndata[:sherpa_issn].dig("romeoapi","publishers").each do |publisher| %>
    <% x = x + 1 %>
    <li><b>PUBLISHER <%= x %></b>
      <ul>
        <% publisher[1].each do |publisherentry| %>
          <li>
            <b>
              <% case publisherentry[0] %>
              <% when 'jtitle' %>
                Title
              <% when 'issn' %>
                ISSN
              <% when 'zetocpub' %>
                Publisher Name (ZETOC)
              <% when 'romeopub' %>
                Publisher Name (ROMEO)
              <% else %>
                <%= publisherentry[0] %>
              <% end %>
              :
            </b>
            <%= publisherentry[1] %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>