<h2>liblookup</h2>
Liblookup is a lookup service that searches for and retreives information from a variety of library-related APIs.<br/><br/>
<%= form_tag('', method: "get") do %>
  <%= label_tag(:idfield, "Search By ID's (ISSN, ISBN, DOI, ORCID, etc.):") %>
  <%= text_field_tag("idfield", params[:idfield])%>
  <%= submit_tag("ID Search") %>
<% end %>
<br/>
<%= form_tag('', method: "get") do %>
  <%= label_tag(:textfield, "Text Search (Authors, Titles, Keywords, etc.):") %>
  <%= text_field_tag("textfield", params[:textfield])%>
  <%= submit_tag("Text Search") %>
<% end %>
<br/><br/>

<% if params[:idfield].present? && @returndata.present? %>
  ID SEARCH FOR <b><%= params[:idfield] %></b>:<br/><br/>
  <% foundone = false %>
  <% @returndata.each do |service, data| %>
    <% if data["hits"] > 0 %>
      <% foundone = true %>
      <%= service %> returns <%= data["hits"] %> hit<% if data["hits"] != 1 %>s<% end %>
      <% if (data["hits"] > 0) %>
        <button onclick="turn_on('<%= service %>');">Show</button>
        <%= link_to 'Download', { controller: 'homepage', action: 'downloadaction', api: service, idfield: params[:idfield]}, target: "_blank" %>
      <% end %>
      <br/>
    <% end %>
  <% end %>
  <% unless foundone %>
    NO RESULTS FOUND
  <% end %>
  <% @returndata.each do |service, data| %>
    <% unless data["data"].nil? %>
      <div style="display:none" id="<%= service %>"><%= render partial: service, locals: {data: data}  %></div>
    <% end %>
    <br/>
  <% end %>
<% end %>

<script>
    function turn_on(id) {
        <% Rails.configuration.x.service.each do |service| %>
          var remove = document.getElementById('<%= service %>');
          if (remove !== null) {
              remove.style.display = 'none';
          }
        <% end %>
        var e = document.getElementById(id);
        e.style.display = 'block';
    }
</script>

